* {
    box-sizing: border-box;
}


body {
    font-family: 'Work Sans', sans-serif;
    color: white;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 45px;
    font-weight: normal;
}

h3 {
    color: #45476F;
    font-size: 30px;
    font-weight: 700;
    /* text-transform: uppercase; */
}

.clear {
    clear: both;
}

header {
    width: 100%;
    min-height: 70px;
    background: #1e213d;
    box-shadow: 0 8px 6px -6px #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 15px;
    text-align: center;
}
header ul li {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 17px;
    padding: 10px;
}
header ul li.tickets {
    background: white;
    color: #16CCBB;
}
header ul li.tickets a {
    color: #1e213d;
}
header ul li.tickets a:hover{
    color: #16CCBB;
}

header a {
    color: white;
    text-decoration: none;
}
header a:hover {
    color: #16CCBB;
}
header a.current {
    color: #16CCBB;
}

section a {
    color: #666;
}
section a:hover {
    color: #16CCBB;
}

.darkbg a {
    color: white;
}

a.bgblue {
    background: #16CCBB;
    color: white;
    text-decoration: none;
    padding: 7px;
    border-radius: 5px;
    font-weight: 700;
}
a.bgblue:hover {
    opacity: 0.8;
    color: white;
}

hr {
    border: 1px dashed #16CCBB;
}

.center {
    text-align: center;
}

main {
    background-color: #1e213d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23222545' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23262a4d' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%232a2f56' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%232f335e' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23333867' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%232f335e' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%232a2f56' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23262a4d' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23222545' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%231e213d' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    text-align: center;
    padding: 50px 15px 30px 15px;
    margin-top: 70px;
}
main .logo {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
}

main h2 {
    margin-top: 50px;
}

main .event {
    width: 100%;
    max-width: 1000px;
    margin-top: 80px;
    text-align: center;
}

main .event-block {
    padding: 5px;
    text-align: center;
    width: 20%;
    height: 80px;
    font-weight: 900;
    display: inline-block;
    margin-right: 50px;
    font-size: 20px;
    background: white;
    position: relative;
    color: #45476F;
    line-height: 20px;
}
main .event-block:before {
    content:'';
    display:block;
    position:absolute;
    height:0;
    width:0;
    z-index:2;
    top:0;
    left: -30px;
    border-right: 30px solid white;
    border-top: 80px solid transparent;
}
main .event-block:after {
    content:'';
    display:block;
    position:absolute;
    height:0;
    width:0;
    z-index:2;
    top:0;
    right: -30px;
    border-left: 30px solid white;
    border-bottom: 80px solid transparent;
}
main .event-block:not(:last-child) {
    border-right: 0;
}

main .event-block-top {
    font-size: 14px;
    opacity: 1;
    color: #45476F;
    font-weight: normal;
    font-style: italic;
}
main .one {
    color: #08B9A7;
    /* font-weight: 100; */
    font-style: italic;
}

.mascot {
    width: 100%;
    max-width: 500px;
    height: auto;
    float: right;
}



section {
    padding: 20px 15px 20px 15px;
    color: #1E213D;
    line-height: 1.5;
}

.content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}


section.darkbg {
    background: #1e213d;
    color: white;
}
section.darkbg h3 {
    color: white;
}



section.mascotsection {
    text-align: center;
}

section.sponsors p {
    text-align: center;
}
section.sponsors img {
    width: auto;
    margin: 30px 30px 0 0;
}
section.sponsors img.sponsors__image--long {
    height: 60px;
}
section.sponsors img.sponsors__image--square {
    height: 120px;
}
section.sponsors img.sponsors__image--long--supporter {
    height: 35px;
}
section.sponsors img.sponsors__image--square--supporter {
    height: 80px;
}
section.sponsors .sponsors__image--long--headline {
    max-width: 550px;
    width: 95%;
    margin: 90px 0 0 0;
}
section.sponsors h4 {
    text-align: center;
    margin-top: 80px;
    font-size: 22px;
}
section.sponsors h3.sponsors__title {
    margin-top: 100px;
}

section.mascotfooter {
    text-align: center;
    padding-top: 60px;
}
section.mascotfooter img {
    height: 130px;
    width: auto;
    margin: 0 20px 0 20px;
}


.modal {
    display: none;
    max-width: 900px;
    height: 600px;
    max-height: 100%;
    background: white;
    position: fixed;
    border: 5px solid #1e213d;
    border-radius: 5px;
    z-index: 50;
    color: #1e213d;
    padding: 50px;
    font-size: 15px;
    overflow: auto;

    top: 120px;
    left: 50%;
    margin-left: -450px; /* Negative half of width. */
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 20px;
}


button {
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    cursor: pointer;
}


.clear {
    clear: both;
}

.agenda {
    margin-top: 15px;
}
.agenda__hour {
    float: left;
    width: 10%;
    padding: 5px;
    padding-right: 15px;
    margin-top: 5px;
    color: #666;
}
.agenda__container {
    clear: both;
}
.agenda__item {
    float: left;
    width: 79%;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}
.agenda__item a, .agenda__item a:hover {
    text-decoration: none;
    color: inherit;
}
.agenda__item a:hover {
    opacity: 0.7;
}

.agenda__item--color1 {
    background-color: #81C456;
}
.agenda__item--color2 {
    background-color: #3A4072;
}
.agenda__item--color2 {
    background-color: #3A4072;
    color: white;
}
.agenda__item--color3 {
    background-color: #08B9A7;
}
.agenda__item--color4 {
    background-color: #EFBE64;
}

.workshop {
    width: 100%;
    border: 1px solid #08B9A7;
    border-radius: 5px;
    padding: 10px;
}
.workshop h3 {
    color: #08B9A7;
    font-size: 16px;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 10px;
}
.workshop .people {
    width: 400px;
    float: right; 
    margin-right: 10px;
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
}
.workshop .people img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.workshop .people img.imgsocial {
    width: 24px;
    height: 24px;
}
.workshop__left {
    width: 50%;
    float: left;
}
span.workshop__left__title {
    width: 60px;
    color: #666;
    display: inline-block;
}
.workshop__right {
    width: 48%;
    float: left;
}



.speakers__item {
    width: 200px;
    /* border: 1px solid #08B9A7;
    border-radius: 5px; */
    padding: 10px;
    text-align: center;
    float: left;
    height: 250px;
}
.speakers__item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
}
.speakers__item img:hover {
    opacity: 0.8;
}
.speakers__item a {
    text-decoration: none;
}



.ticketboxwrapper {
    width: 100%;
    max-width: 640px;
    min-height: 150px;
    margin: 0 auto;
}
.ticketbox {
    border: 2px solid #16CCBB;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    text-align: center;
    float: left;
    margin: 0 10px 10px 10px;
}
.ticketbox h4 {
    margin: 0;
    font-size: 24px;
}
.ticketbox__price {
    font-size: 20px;
    margin-bottom: 30px;
}
.ticketbox__soldout {
    color: #08B9A7;
    font-style: italic;
}

.contacts__left {
    width: 33%;
    float: left;
}
.contacts__center {
    width: 33%;
    float: left;
    text-align: center;
}


.dates {
    text-align: left;
    border: 2px solid #08B9A7;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
}
.dates .dates__date {
    font-style: italic;
    color: #08B9A7;
    padding-left: 24px;
}
.dates .dates__title {
    color: #3A4072;
    font-weight: 700;
    margin-bottom: 10px;
    padding-left: 24px;
}
.dates img {
    width: 20px;
    height: auto;
    float: left;
}


.detail__photo {
    float: right;
    width: 20%;
    min-width: 200px;
    height: 200px;
    margin-left: 20px;
}
.detail__photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.detail__about {
    width: 80%;
}
.detailtop h3 {
    color: white;
}

.detail h3 {
    margin-top: 50px;
}

.mapouter iframe {
    max-width: 500px;
    width: 100%;
    height: 320px;
}


@media screen and (max-width: 550px) {
    h2 {
        font-size: 30px;
    }
    main .event-block {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 15px;
        display: block;
    }

    section.sponsors p {
        text-align: center;
    }
    section.sponsors img {
        margin: 0 auto;
        margin-bottom: 15px;
        display: block;
    }

    header {
        min-height: 150px;
    }
    main {
        margin-top: 150px;
    }


    .agenda__hour {
        width: 20%;
    }
    .agenda__item {
        width: 69%;
    }

    .workshop__left, .workshop__right {
        width: 100%;
        float: none;
    }

    .ticketbox {
        width: 100%;
        float: none;
    }

    .contacts__left, .contacts__center {
        width: 100%;
        float: none;
        display: block;
        text-align: center;
    }


    .modal {
        width: 90%;
        margin-left: -45%; /* Negative half of width. */
        top: 200px;
    }

    .detail__photo {
        float: none;
        width: 100%;
        text-align: center;
    }
    .detail__about {
        width: 100%;
    }
    .dates {
        width: 100%;
    }
}

@media screen and (max-width: 864px) and (min-width: 551px) {
    .dates {
        width: 100%;
    }
    .mascot {
        float: none;
    }
    .ticketbox {
        float: none;
    }
    .modal {
        width: 770px;
        margin-left: -385px;
    }
}